# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\4course\sick\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
